#!/bin/bash

xset b 0                                           # bell
xset s 0                                           # sleep timer
xset -dpms                                         # disable display power saving
setxkbmap us,us(intl)' -option 'grp:ctrls_toggle' # keyboard

# Env variables
export GTK_THEME=Adwaita:dark
export QT_STYLE_OVERRIDE=adwaita-dark

export PATH="$PATH:$HOME/.local/bin"

. "$HOME/.xprofile.d/$(uname -n).sh"

