# use as whitelist

*
!.gitignore

!i3
!i3/**

!sway
!sway/**

!wofi
!wofi/**

!waybar
!waybar/**

!nvim
!nvim/**

!tostapane
!tostapane/**

!alacritty
!alacritty/**

!picom
!picom/**

!polybar
!polybar/**

!rofi
!rofi/**

!myinit
!myinit/**
